:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #2e2c2c;
}

*{
    margin: 0 auto;
    padding: 0;
}

body{
    /* margin: 0; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#1e1f20;
    color: aliceblue;
}

#header{
    /* text-align: center; */
    background: black url("../images/background.jpeg") no-repeat top center;
    /* background-repeat: no-repeat;
    background-position: center; */
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
    min-height:800px;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* -webkit-background-size: cover !important; */
    /* background-color: coral; */
}

#home{
    /* box-sizing: border-box; */
    padding-top: 200px;
    padding-bottom: 40px;
}

/* 
.h1{
    display: block;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
} */

#name{
    color:azure;
    text-align: center;
    font-size: 75px;
    text-shadow: 0px 1px 2px black;
}

/* ul{
    list-style-type: none;
} */
/* 
li{
    display: inline;
} */

/* a{
    text-decoration: none;
} */


#header .nav-block .nav .nav-page{
    display: inline;
    /* padding: 10px 20px 20px 20px; */
    /* padding-left: 10px;
    padding-right: 10px; */
    /* top: 0;
    z-index: 999; */
}


#header .nav-block .nav{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px 20px 20px 10px;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 1px rgb(24, 51, 49);
    width: 100%;
    position: fixed;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.548);
    /* font-weight: bold; */
    /* font-family: 'Courier New', Courier, monospace; */
}

#header .nav-block .nav .nav-page a{
    text-decoration: none;
    color: rgb(232, 244, 255);
    padding-right: 50px;
}

#header .nav-block .nav .nav-page a:hover{
  color: coral;
}

/* TODO: FIX THIS! -> jquery*/
/* #header .nav-block .nav .nav-page.active a{
    color:coral;
} */

@media screen and (max-width:600px){
    .nav-block a:not(:first-child) {display: none;}
    .nav-block a.icon {
      float: right;
      display: block;
    }
}