:root{
    --section-space: 6rem;
    --header-font-size: 1.3rem;
    --content-font-size:1.15rem;

    --light-green: rgb(193, 231, 228);
    --white:aliceblue;
    --background_black:  rgba(0, 0, 0, 0.548);
    --linear_grad: linear-gradient(360deg, black 15%, rgba(0, 0, 0, 0) 100%);
}

*{
    margin: 0 auto;
    padding: 0;
}

body{
    /* margin: 0; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#1e1f20;
    color: aliceblue;
}


/* -------------------------------------------------------------------------- */

.header{
    --header-height: 2.5rem;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    position: absolute;
    /* top: .8rem; */
    left: 0;
    position: fixed;
    background-color: #00000000;
    /* background-color: rgba(0, 0, 0, 0.747); */

    /* text-align: center;
    background: black url("../images/baxkground.jpeg") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height:800px;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-background-size: cover !important;
    background-color: coral; */
}

.header .sticky{
    background-color: black;
}

.header-navBlock{
    height: var(--header-height);
    min-height: 0;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 0.5rem;
}
/* 
.header.offset {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.header.scrolling {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.header.sticky {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.548);
    position: fixed;
    top: 0;
    left: 0;
}

.header.sticky.scrolling {
    opacity: 0.5;
    visibility: visible;
} */

/* -------------------------------------------------------------------------- */

.header-nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.header-nav ul{
    display: block;
    text-align: center;
}

.header-nav li{
    list-style: none;
    display: inline-block;
}

.header-nav a{
    text-shadow: 0px 1px 1px rgb(24, 51, 49);
    display: block;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: rgb(232, 244, 255);
    padding-right: 50px;
}

.header-nav a:hover, .header-nav a:focus{
    color: coral;
}

.current{
    color: coral;
}

.nav .active{
    color: coral;
}
/* .header-nav .current a {
    color: coral;
} */

/* -------------------------------------------------------------------------- */

/* TODO TRY WITH hamburger: responsive: header */

@media screen and (max-width: 740px) {
    .header-nav ul li{
        font-size: 15px;
    }
}

@media screen and (max-width: 620px) {
    .header-nav ul li{
        font-size: 10px;
    }
    .header-nav ul li a{
        padding-right: 25px;
    }
}

@media screen and (max-width: 400px) {
    .header-nav ul li a{
        padding-right: 15px;
    }
}


/* -------------------------------------------------------------------------- */

.home{
    background-color:#1e1f20;
    width: 100%;
    /* height: 100vh; */
    min-height:800px;
    /* min-height: calc(25.5 * var(--space)); */
    overflow: hidden;
    position: relative;  
}


.home__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black url("../images/background.JPG") no-repeat top center;
    /* background: black url("../images/bg.jpeg") no-repeat top center; */
    background-size: cover;
}

.home__bg::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(36, 35, 35);
    opacity: .2;
}

.home__bg::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, black 15%, rgba(0, 0, 0, 0) 100%);
    opacity: .5;
}


.home-content {
    height: 100%;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding-top: 35vh;
    padding-bottom: 12vh;
    position: relative;
}

#home-name{
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    color:azure;
    text-align: center;
    font-size: 75px;
    text-shadow: 1px 1px 3px black;
}

/*-----------------------------------------*/

/* TODO (Almost done?): responsive header name */

@media screen and (max-width: 825px) {
    #home-name{
        font-size: 60px;
    }
}

@media screen and (max-width: 650px) {
    /* .home-content {
        padding-top: 12vh;
    } */

    #home-name {
        font-size: 45px;
    }
    .home-social a{
        font-size: 1.85rem;
    }
}

@media screen and (max-width: 490px) {
    #home-name {
        font-size: 25px;
    }
    .home-social a{
        font-size: 1.5rem;
    }
}


/*-----------------------------------------*/
.home-social {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    font-size: 2.2rem;
    line-height: 1;
    margin-top: 40px;
    text-shadow: 0px 1px 1px rgb(24, 51, 49);
}

.home-social a {
    color: rgb(183, 208, 228);
    margin-right: 20px;
}

.home-social a:hover, 
.home-social a:focus {
    color: coral;
}

.home-social a:last-child {
    margin-right: 0;
}
/* -------------------------------------------------------------------------- */
 
/* TODO ? : responsive  - home stuffs */

/* -------------------------------------------------------------------------- */

.about {
    --color-border: var(--black);
    background-color:rgb(24, 24, 24);
    padding-top: var(--section-space);
    padding-bottom: var(--section-space);
    color: whitesmoke;
}

#about h3{
    text-align: center;
    /* font-size: var(--header-font-size); */
    font-size: 1.65rem;
    font-weight: lighter;
    color:rgb(168,229,230,71%);
    padding-bottom: 1.25rem;
    letter-spacing: 0.1rem;
}
.about-content #about-me{
    padding-top: 5rem;
    display: flex;
}

.about-content #about-part{
    display: inline-flex;
    text-align: center;
}

#about-info-para{
    text-align: left; 
    letter-spacing: 0.05rem; 
    font-size: 0.93rem;
    /* !!!!!! CHECK OUT !!!! */
    /* text-transform: uppercase; */
    /* background-color: rgba(46, 56, 59, 0.829); */
    line-height: 1.5rem;
    /* padding-left: 10rem; */
    /* text-align: center; */
}

#ans{
    color: var(--light-green);
}

/* LMAO PICTURE?
.about-pic{
    padding-left: 3rem;
}

#pic{
    width: 13rem;
    height: 20rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.02);
    border-radius: 5%;
} */


.skills-bars{
    list-style: none;
    margin: 3rem 0 2rem;
}

.skills-bars li {
    height: 5.2rem;
    background: transparent;
    /* margin-bottom: 5.2rem; */
    text-align: left;
    padding: 0;
    /* position: relative; */
}

.skills-bars li strong {
    /* text-align: left; */
    /* font-family: var(--font-1); */
    font-weight: 250;
    color: var(--light-green);
    /* color: var(--color-text-dark); */
    /* text-transform: uppercase; */
    letter-spacing: .08em;
    font-size: 1rem;
    line-height: 2rem;
    /* position: absolute; */
    /* top: -3.2rem; */
    /* left: 0; */
}

.skills-bars li .progress {
    /* background: var(--color-gray-3); */
    border: 2.4px solid beige;
    background: rgb(211, 206, 206);
    /* position: relative; */
    height: 40%;
    border-radius: 4px;
    overflow: hidden;
    width: 22rem;
    /* position: relative; */
}

.skills-bars li .progress::before {
    content: "";
    display: block;
    height: 100%;
    background-color:#367166;
    border-radius: 4px;
    /* background-color: var(--color-gray-18); */
}

.skills-bars li .percent5::before {
    width: 5%;
}

.skills-bars li .percent10::before {
    width: 10%;
}

.skills-bars li .percent15::before {
    width: 15%;
}

.skills-bars li .percent20::before {
    width: 20%;
}

.skills-bars li .percent25::before {
    width: 25%;
}

.skills-bars li .percent30::before {
    width: 30%;
}

.skills-bars li .percent35::before {
    width: 35%;
}

.skills-bars li .percent40::before {
    width: 40%;
}

.skills-bars li .percent45::before {
    width: 45%;
}

.skills-bars li .percent50::before {
    width: 50%;
}

.skills-bars li .percent55::before {
    width: 55%;
}

.skills-bars li .percent60::before {
    width: 60%;
}

.skills-bars li .percent65::before {
    width: 65%;
}

.skills-bars li .percent70::before {
    width: 70%;
}

.skills-bars li .percent75::before {
    width: 75%;
}

.skills-bars li .percent80::before {
    width: 80%;
}

.skills-bars li .percent85::before {
    width: 85%;
}

.skills-bars li .percent90::before {
    width: 90%;
}

.skills-bars li .percent95::before {
    width: 95%;
}

.skills-bars li .percent100::before {
    width: 100%;
}

/* -------------------------------------------------------------------------- */

/* RESPONSIVE FEATURE FOR SKILLS BAR */


/* -------------------------------------------------------------------------- */


/* .container{
    box-sizing: border-box;
    width: 100%;
    background-color: whitesmoke;
}

.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.Java{
    width: 90%; 
    background-color: #04AA6D;
} */

/* -------------------------------------------------------------------------- */

/* .row{ */
    /* width: 100%; */
    /* max-width: 1080px; */
/*     margin: 0 auto; */
/*     display: -ms-flexbox; */
/*     display: -webkit-box; */
    /* display: flex; */
/*     -ms-flex-flow: row wrap; */
/*     -webkit-box-orient: horizontal; */
/*     -webkit-box-direction: normal; */
    /* flex-flow: row wrap; */
/* } */
    
/* .column {
    -ms-flex: 1 1 0%;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    padding: 0 var(--gutter-lg);
} */

/* .collapse>.column, .column.collapse {
    padding: 0;
}
    */
    
/* .block-large-1-4>.column {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}
    */
/* @media screen and (max-width: 800px) {
    .block-tab-1-2>.column {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
} */
    
/* @media screen and (max-width: 1200px) {
    .block-medium-1-3>.column {
        -ms-flex: 0 0 33.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
} */


/* @media screen and (max-width: 500px) {
    .w-500-stack, .block-500-stack>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
} */
    
    
.project{
    padding:var(--section-space) 5rem;
    background-color: rgb(227, 231, 231);
    color: #0e0f0f;
}

.project h1{
    text-align: center;
    font-size: var(--header-font-size);
    font-weight: lighter;
    color:rgb(30, 34, 34);
    padding-bottom: 1.25rem;
    letter-spacing: 0.1rem;
}

.project h2{
    text-align: center;
    font-size: var(--content-font-size);
    font-weight: lighter;
    color:rgb(60, 75, 75);
    padding-bottom: 3.5rem;
    letter-spacing: 0.1rem;
}

.project-list{
    /* max-width: 1080px; */
    display: flex;
    table-layout: auto;
    /* flex-flow: row wrap; */
    position: relative;
    /* FFS */
    max-width: 1180px;
    /* margin-top: var(--vspace-2_5); */
    /* max-width: 1180px;
    margin-top: 2rem;
    position: relative;
    display:-webkit-inline-flex;
    overflow: hidden; */
}

/* .project-item__thumb{

} */

.project-item{
    display: table-cell;
    /* background-color: black; */
    position: relative;
    overflow: hidden;
    padding: 2rem;
}

.project-item__thumb img{
    display: block;
/*     margin: 0; */
    -webkit-transition: all, .5s;
    transition: all, .5s;
    max-width: 15rem;
    max-height: 15rem;
    min-height: 15rem;
    min-width: 15rem;
    background-color: #000000d2;
    /* padding-right:0.5rem; */
}

.project-item__thumb::before {
/*     z-index: 1; */
    content: "";
/*     display: block; */
/*     background-color: rgba(0, 0, 0, 0.8); */
/*     opacity: 0; */
/*     visibility: hidden; */
/*     position: absolute; */
/*     top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
/*     width: 100%;
    height: 100%; */
/*     -webkit-transition: all, .5s; */
/*     transition: all, .5s; */
}


.project-item__thumb::after{
/*     z-index: 1; */
    content: "NAME";  /* sets content here */
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 2rem;
    color: yellow;
/*     display: block; */
    /* height: 32px;
    width: 32px; */
    /* line-height: 32px; */
    /* margin-left: -16px;
    margin-top: -16px; */
    /* text-align: right; */
    opacity: 0;
/*     visibility: hidden; */
/*     -webkit-transform: scale(0.5); */
/*     transform: scale(0.5); */
/*     -webkit-transition: all, 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); */
/*     transition: all, 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); */
    position: absolute;
    left: 35%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.712);
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.project-pic:hover .overlay {
    opacity: 0.8 ;
}
  
#text{
    color: white;
    font-size: 20px;
    position: relative;
    top: 20%;
    /* left: 50%; */
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: center;
}

.overlay h3{
    /* padding: 1rem; */
    font-weight: normal;
}

.overlay p{
    color: rgb(202, 228, 226);
    bottom:auto;
    font-size: 16px;
    padding:1rem;
    text-align:center;
}

.project-item__thumb:hover #project-item__thumb::before {
    /* opacity: 1; */
    visibility: visible;
}


.project-item:hover .project-item__thumb::after {
    /* opacity: 1; */
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.project-item:hover .project-item__thumb img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
    

/* WRONG STUUFS .group{
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    filter:url("#old-goo");
}
.group-new{
    left:50%;
    filter:url("#fancy-goo");
}
  .rect{
    width:100px;
    height:100px;
    background:black;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;
  }
  
  @keyframes rect-anim-left{
    0%{
      transform:translateX(-10px);
    }
    100%{
      transform:translateX(-60px);
    }
  }
  .rect{
    animation:rect-anim-left ease-in-out 2s infinite alternate;
  }
  @keyframes rect-anim-right{
    0%{
      transform:translateX(10px);
    }
    100%{
      transform:translateX(60px);
    }
  }
  .rect+.rect{
    height:150px;
    margin-top:-75px;
    animation:rect-anim-right ease-in-out 2s infinite alternate;
  }
  .label{
    position:absolute;
    top:30px;
    left:0;
    width:50%;
    text-align:center;
  }
  .label-new{
    left:50%;
  }

 */



  /* -------------------------------------------------------------------------- */
    /* PROJECTS: Responsive */
    



/* -------------------------------------------------------------------------- */

/* .resume{
    padding: var(--section-space) 10rem;
} */

/* -------------------------------------------------------------------------- */

.contact{
    padding-top: var(--section-space);
    padding-bottom: var(--section-space);
    background-color: #606a6b;
    color: rgba(223, 243, 247, 0.938);
}
.contact h3{
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: var(--header-font-size);
    font-weight: lighter;
    color:rgb(168,229,230,71%);
    padding-bottom: 1.25rem;
}

.contact h1{
    text-align: center;
    font-size: 2.5rem;
    /* padding-left: 15rem; */
    color:rgb(16, 17, 17);
}

#contact-location{
    padding-top: 4rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1.15rem;
}

#contact-info{
    text-align: center;
    font-size: 1.15rem;
    letter-spacing: 0.025rem;
    padding: 2rem;
}

#word-link{
    font-size: 1.15rem;
    text-decoration: none;
    color: rgb(41,41,41);
}

#word-link:hover{
    color:rgb(91,202,204);
}

.contact-content{
    padding-top: 4.5rem;
    text-align: center;
    display: -webkit-flex;
    /* display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap; */
    /* padding: 3rem 3rem; */
}

.contact-content a{
    /* text-align: center; */
    font-size: 2.3rem;
    color: rgb(41,41,41);
}

.contact-content a:hover{
    color:rgb(91,202,204);
}



/* -------------------------------------------------------------------------- */


footer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color:black;
    color: #747474;
    font-size: 0.75rem;
}
footer a{
    text-decoration: none; 
    color: #969595;
}

footer a:hover{
    color:coral;
}




/* #home{
    padding-top: 200px;
    padding-bottom: 40px;
} */

/* 
.h1{
    display: block;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
} */

/* #name{
    color:azure;
    text-align: center;
    font-size: 75px;
    text-shadow: 0px 1px 2px black;
} */

/* ul{
    list-style-type: none;
} */
/* 
li{
    display: inline;
} */

/* a{
    text-decoration: none;
} */

/* 
#header .nav-block .nav .nav-page{
    display: inline;
    /* padding: 10px 20px 20px 20px; */
    /* padding-left: 10px;
    padding-right: 10px; */
    /* top: 0;
    z-index: 999; 
} */


/* #header .nav-block .nav{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px 20px 20px 10px;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 1px rgb(24, 51, 49);
    width: 100%;
    position: fixed;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.548); */
    /* font-weight: bold;
       font-family: 'Courier New', Courier, monospace; */
/* } */

/* #header .nav-block .nav .nav-page a{
    text-decoration: none;
    color: rgb(232, 244, 255);
    padding-right: 50px;
}

#header .nav-block .nav .nav-page a:hover{
  color: coral;
} */

/* TODO: FIX THIS! -> jquery*/
/* #header .nav-block .nav .nav-page.active a{
    color:coral;
} */

/* @media screen and (max-device-width: 1600px) {
    #header #home{
        font-size: 56px;
    }
} */

/* @media screen and (max-width:600px){
    .nav-block a:not(:first-child) {display: none;}
    .nav-block a.icon{
      float: right;
      display: block;
    }
} */

